syntax: glob
*.suo
*.user
_ReSharper.*
*.csproj.user
*.[Rr]e[Ss]harper.user
*.resharper
*.suo
*.cache
*~
*.swp

bin
Bin
!/bin
obj
_Resharper
*ReSharper*
*.csproj.user
*.resharper.user
*.suo
*.cache
TestResult.xml
*.trx
glob:svninfo.xml
*.log
*.orig
*.swp
*.idea
*.dotCover
application.txt
*.*~

