syntax: glob
*.suo
*.user
bin
Bin
!/bin
obj
_Resharper
*ReSharper*
*.csproj.user
*.resharper.user
*.suo
*.cache
TestResult.xml
*.trx
glob:svninfo.xml
*.log
*.orig
*.swp
*.idea
*.dotCover
application.txt
*.*~

